#main {
	padding-top: 200px;
	text-align: center;
}

#main .leftCard {
	padding-top: 100px;
	margin-left: 100px;
	text-align: left;
}

#main .leftCard img {
	width: 60%;
}

#main .rightCard {
	padding-top: 100px;
	margin-right: 100px;
	text-align: right;
}

#main .rightCard img {
	width: 60%;
}